/*------------------------------
CSS VARIABLES 

See the note at the end of this file
for more info on how these work.
------------------------------*/


:root {


	/* Max widths: small = text, large = media, headings */
	--max-w-small: 700px;
	--max-w-large: 1000px;


	/* Main Text color Variables */
	--main-text-fill: white;
	--main-text-stroke: lightskyblue;
	--main-text-shadow-1: cornflowerblue;
	--main-text-shadow-2: #3ec4ed;
	--main-text-accent-1: #aa6ff2;


	/* Global: Box and Background */
	--g-border: 3px double var(--main-text-stroke);
	--g-border-radius: 20px 40%;
	--g-box-shadow:
		0px 0px 20px var(--main-text-accent-1), 
		0px 0px 3px var(--main-text-stroke);
	--g-background:
		linear-gradient(139deg,
		rgba(255,233,11,1) 0%,
		rgba(255,115,62,0.7) 27%,
		rgba(105,192,255,0.7) 66%,
		rgba(255,248,128,1) 100%);



	/* Global: Fonts and Font stylying */
	/*--g-font-family: "conthrax", Andale Mono, Consolas, sans-serif;*/
	--g-font-family: 'Share Tech Mono', monospace;
	--g-color: var(--main-text-fill);
	--g-text-shadow:
		2px 2px 2px var(--main-text-shadow-1), 
		-1px -1px 2px var(--main-text-shadow-2);


	/* Heading text-shadows */
	--h-text-shadow:
		-2px -2px 2px var(--main-text-shadow-1),
		2px 2px 4px var(--main-text-shadow-2);


	/* Links text-shadows */
	--a-text-shadow:
		-2px -2px 2px var(--main-text-shadow-1),
		2px 2px 4px var(--main-text-shadow-2);

	--a-hover-text-shadow:
		0px 0px 6px var(--main-text-fill),
		0px 0px 3px var(--main-text-fill);

}



/*-------------------------*/

/* GLOBAL CSS CLASSES */

.global-box {
	background:				var(--g-background);
	border:						var(--g-border);
	border-radius: 		var(--g-border-radius);
	box-shadow:				var(--g-box-shadow);
}

.global-text {
	font-family:			var(--g-font-family);
	color:						var(--g-color);
	text-shadow: 			var(--g-text-shadow);
}
/*-------------------------*/







/*-------------------------*/
/* FONT IMPORTS */

@font-face {
	font-family: "gau pop magic";
	src: url('/system/fonts/gau_pop_magic.TTF');
}

@font-face {
	font-family: "kosmos";
	src: url('system/fonts/kosmos.TTF');
}

@font-face {
	font-family: "neuropol";
	src: url('system/fonts/neuropol.otf');
}







/*-------------------------*/

/* CSS STYLES */
body {
	font-family: var(--g-font-family);
	color: var(--g-color);
	text-shadow: var(--g-text-shadow);

	font-size: x-large;
	padding: 0px;
	margin: 0px;

	height: 100%;
}



#arch-bg-div {
	background-image: url("/archive-bg-1.png");

	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat-x;
	background-size: contain;
	padding-bottom: 10rem;
	transition: 0s linear;
}




/*-------------------------*/
#main-column {
	max-width: var(--max-w-large);
	margin: 0px auto;
	padding: 1.5rem;
	padding-left: 900px;
}

#top-column {
	padding: .5rem;
	margin-bottom: 10px
}

#top-column p {
	/*border-radius: 		20px;*/
	margin: 1.5rem auto 6rem;
	padding: 1rem;
}

#issue-div {
	display: flexbox;
	flex-direction: row;
	padding: 10px;
	text-align:center;
	/* work on background box color */
}

#issue-month {
	text-align:left;
}



/*--------------------
headings
--------------------*/

h1,h2,h3 {
	text-decoration: outline;

	-webkit-text-fill-color: var(--main-text-fill);
	-webkit-text-stroke-color: var(--main-text-stroke);
	-webkit-text-stroke-width: 1px;

	text-shadow: var(--h-text-shadow);
}


h2 {
	font-family: "kosmos", sans-serif;
	font-size: 4.5vw;
}

h3 {
	font-family: "gau pop magic", sans-serif;
	font-size: 3.0rem;
	text-align: center;
}

h4 {
	font-family: "conthrax", Andale Mono, Consolas, sans-serif;
	text-transform: uppercase;
	font-size: 3.0rem;
}


/* Anchor tags */
a {
	color: var(--main-text-accent-1);
	text-shadow: var(--main-text-shadow-1);
	transition: -webkit-text-fill-color 0.5s;
	text-decoration: none;
}

a:hover {
	color: var(--main-text-fill);
	text-shadow:
		-3px -3px 6px var(--main-text-stroke),
		0px 0px 3px var(--main-text-stroke),
		2px 2px 3px var(--main-text-shadow-1);
	transition: -webkit-text-fill-color 0.5s;
}

/*-------------------------*/
/* HEADLINE ANIMATION  */
@keyframes h1-animation {

	from {
		-webkit-text-fill-color: white;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: lightskyblue;
  
		letter-spacing: 0rem;
		text-shadow:
			0px 0px 3px cornflowerblue,
			-2px -2px 2px #3ec4ed,
			2px 2px 4px #aa6ff2;
  
		text-indent: -3rem;
		  padding-left: 3rem;
	}
  
	to {
		-webkit-text-fill-color: rgba(0,0,0,0);
		-webkit-text-stroke-width: 0px;
		-webkit-text-stroke-color: white;
  
		letter-spacing: 0.1rem;
		text-shadow:
			-5px -5px 0px white, 
			  2px 2px 0px #ff9900,
			  8px 8px 0px rgb(255,233,11);
  
  
		text-indent: 3rem;
		  padding-left: 0rem;
	}
  
  }
  
  h1 {
	  font-family: Andale Mono, monospace;
	  text-align: center;
  
	  text-indent: -3rem;
	  padding-left: 3rem;
  
	  animation:  h1-animation 1.7s cubic-bezier(0.85, 0.0, 0.2, 2.0) alternate infinite;
  
	  font-size: 8vw;
  
  }
  /*-------------------------*/
  
  /*-------------------------*/




/*-------------------------*/
/* MEDIA QUERIES  */

/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {
	body {font-size: normal;}
}*/

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 600px) {

	body {
		font-size: large;
	}

	#issue-div {
		display: block;
	}

	#issue-month {
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
		line-height: 0.8rem;
	}

	#toc-heading {
		font-family: "neuropol", sans-serif;
		font-size: 2rem;
		text-align: center;
		line-height: normal;
	}

	#main-column {
		padding:0rem;
	}

	audio {
		border: None;
		box-shadow: None;
	}

	.cw-button {
		font-size: 1em;
	}

	p, pre {
		font-size: 1em;
	}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
	body {font-size: x-large;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1000px) {
	body {font-size: x-large;}
}

